/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
	line-height: 1.25;
	background: url("../images/background.jpeg") #f1f1f1;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;

}

.active {
	background: white;
    
	font-weight: bold;
	text-align: center;
	transform: rotate(-0.02turn);
	box-shadow: 5px 5px 10px 2px rgba(221, 193, 99, 0.596);

}

.active a{
	text-decoration: none;
}

/* visited link */
a:visited {
	color: #0000FF;
  }
  
  /* mouse over link */
  a:hover {
	color: brown;
  }
  
  /* selected link */
  a:active {
	color: #0000FF;
  }

/*Style the images*/
img{
    height: 200px;
	width: 200px;
	/*width: 200px;
	*/
    border: 3px solid blue;
    padding: 25px;
    border-radius: 10px;
	margin: 10px;
	object-fit: cover;

}

img:hover{
	transform: scale(1.1);
}



/*Make the h2 heading match h1*/
h2{
	font-size: 1.5em; 
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/
header, main, nav, h1, footer{
	border: 0px solid grey;
	margin: 10px 0;
}


/* #gallery-main {
	display: flex;
	justify-content: space-evenly;
  	align-items: center;
	position: relative;
	flex-wrap: wrap;
	
  }

  #gallery-main img{
	flex-basis:200px;
	position: relative;
	flex: 1 1;
	width: 20%;
	z-index: 12;
	cursor: pointer;
	overflow: hidden;
	transition:  0.5s ease-in;
  }
  #gallery-main img:hover {
	opacity: 1;
	width: 100%;
	}  */

#gallery-main {
	display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
	padding: 10px;
}

#gallery-main img{
    border: solid 5px rgba(0, 0, 255, 0.363);
    margin: 8px;
    width: 300px;
	padding: 5px;
	align-self:center;
}



/*Change the styling for all of the list 
items in the nav section*/
nav li{
	background-color: #a777ff;
	padding:10px;
	border:1px solid rgb(185, 172, 112);
	display: inline-block;
	width: 22%;
	border-radius: 30px;
	text-align:center;
	box-sizing: border-box;

}



/*Added this so the links stay the same color*/
/* a:visited{color:#0000FF} */

a.skip-link {
	background-color: #8b4dff;
	border:1px solid rgb(185, 172, 112);
	padding:10px;
	color: white;

	font-weight: 700;

	display: inline-block;
    left: auto;
    right: auto;
	position: relative;
	font-size: 20px;
	
	/* transform: translateY(-100%);
	transition: transform 0.3s; */
  }
  
  .skip-link:focus {
	transform: translateY(0%);
  }

form h1, h2{
	font-weight: normal;
	padding: 0px 10px;
 }

 form section{
	 margin:10px;
 }

 